.gallery-item {
  flex: 0 0 33rem;
  height: 33rem;
  margin: 1.5rem 1rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  @media only screen and (max-width: 28.125em) {
    .gallery-item {
      height: 30rem;
      flex: 0 1 33rem; } }
  .gallery-item__side {
    height: 100%;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    border-radius: .3rem;
    overflow: hidden; }
    .gallery-item__side--front {
      background-color: #42a5f5; }
    .gallery-item__side--back {
      transform: rotateY(180deg);
      background-color: #42a5f5;
      padding: 2rem;
      z-index: 1;
      display: flex;
      flex-direction: column; }
  .gallery-item:hover .gallery-item__side--front {
    transform: rotateY(-180deg); }
  .gallery-item:hover .gallery-item__side--back {
    transform: rotateY(0); }
  .gallery-item:active .gallery-item__side--front {
    transform: rotateY(-180deg); }
  .gallery-item:active .gallery-item__side--back {
    transform: rotateY(0); }
  .gallery-item__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
  .gallery-item__title {
    text-align: center; }
  .gallery-item__btn {
    align-self: center;
    display: flex;
    align-items: center; }
    .gallery-item__btn--icon {
      height: 1.6rem;
      width: 1.6rem;
      fill: currentColor;
      margin-left: 1rem; }
  .gallery-item__loader {
    margin-top: 12rem; }
    .gallery-item__loader div {
      background: #ffffff !important; }
      .gallery-item__loader div:before, .gallery-item__loader div:after {
        background: #ffffff !important; }
