@import "../../scss/variables";
@import "../../scss/mixins";

.gallery-item {

    flex: 0 0 33rem;
    height: 33rem;
    margin: 1.5rem 1rem;

    
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;

    @include respond(28.125em) {
        height: 30rem;
        flex: 0 1 33rem;
    }


    &__side {

        height: 100%;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        box-shadow: $box-shadow-primary;
        border-radius: .3rem;
        overflow: hidden;


        &--front {
            background-color: $color-secondary;
            // transform: rotateY(-180deg);
            
        }

        &--back {
            transform: rotateY(180deg);
            // transform: rotateY(0);

            background-color: $color-secondary;
            padding: 2rem;
            z-index: 1;
            display: flex;
            flex-direction: column;

        }

    }

    &:hover &__side{
        &--front {
            transform: rotateY(-180deg);
        }
        &--back {
            transform: rotateY(0);
        }
    }

    &:active &__side{
        &--front {
            transform: rotateY(-180deg);
        }

        &--back {
            transform: rotateY(0);
        }
    }


    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &__title {
        text-align: center;

    }

    &__body { }

    &__btn {
        align-self: center;

        display: flex;
        align-items: center;

        &--icon {
            height: 1.6rem;
            width: 1.6rem;
            fill: currentColor;
            margin-left: 1rem;
        }    
    }

    &__loader {
        margin-top: 12rem;
        div {
            background: $color-white !important;
            &:before,
            &:after {
                background: $color-white !important;
            }
        }
    }

}

