@import "../../../scss/variables";

.rating {
    display: flex;
    justify-content: space-between;
    color: $color-primary;

    &__star {
        height: 3.5rem;
        width: 3.5rem;
        fill: currentColor;
    }
}

