@import "../../scss/variables";

.panel {
    // min-height: 10rem;
    padding: 1rem 1.5rem;

    background-color: $color-primary;
    color: $color-white;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: .2rem;

    text-align: center;
    box-shadow: $box-shadow-primary;

}