.panel {
  padding: 1rem 1.5rem;
  background-color: #424242;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .2rem;
  text-align: center;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12); }
