
.new-item {
    max-width: 40rem;
    margin: 2rem auto 2rem;
    animation: showUp .35s ease;
    
    &__textarea {
        resize: none;
    }

    
    &__loader {
        margin: 15rem 0;
    }
}
