.single-item-view {
  min-height: calc(100vh - 17.7rem);
  color: #f5f5f5;
  padding: 2.5rem 1rem; }
  .single-item-view__content {
    animation: showUpGalleryContent .25s ease; }
  .single-item-view__btn {
    border-radius: 50%;
    padding: 0;
    background-color: #42a5f5;
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 3rem;
    color: #000000; }
    .single-item-view__btn:focus {
      outline: none;
      color: #ffffff; }
  .single-item-view__icon {
    height: 3rem;
    width: 3rem;
    fill: currentColor; }
  .single-item-view__image {
    background-color: #ffffff;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
    padding: 2rem;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12); }
  .single-item-view__loader {
    margin: 15rem 0; }
