@import "../../scss/variables";

.single-item-view {
    min-height: calc(100vh - 17.7rem);
    color: $color-white-dark;  
    padding: 2.5rem 1rem;

    &__content {
        animation: showUpGalleryContent .25s ease;
    }

    &__btn {
        border-radius: 50%;
        padding: 0;
        background-color: $color-secondary;
        height: 5rem;
        width: 5rem;

        font-size: 3rem;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem auto 3rem;

        color: $color-black;

        &:focus{
            outline: none;
            color: $color-white;
        }
    }

    &__icon {
        height: 3rem;
        width: 3rem;
        fill: currentColor;
    }

    &__image {
        background-color: $color-white;
        margin: 0 auto;
        display: block;
        max-width: 100%;
        height: auto;
        padding: 2rem;
        box-shadow: $box-shadow-primary;
    }

    &__loader {
        margin: 15rem 0;
    }



}
