.modal {
  position: fixed;
  z-index: 200;
  max-width: 60rem;
  top: 20%;
  left: 50%;
  background-color: #ffffff;
  transform: translateX(-50%);
  animation: showUp2 .4s ease;
  color: #1b1b1b;
  border-radius: .3rem;
  overflow: hidden; }
  .modal__header {
    background-color: #f5f5f5;
    padding: 2rem 1rem;
    display: flex; }
  .modal__title {
    font-size: 2rem;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    margin-left: 1.6rem;
    color: #424242; }
  .modal__icon {
    height: 3rem;
    width: 3rem;
    fill: #424242; }
  .modal__body {
    padding: 3rem 1.2rem;
    line-height: 1.2; }
  .modal__controls {
    padding: 2rem 1rem;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center; }
  .modal__btn {
    margin: 0 2rem; }
