@import "../../../scss/variables";

.modal {
    position: fixed;
    z-index: 200;
    max-width: 60rem;
    top: 20%;
    left: 50%;
    background-color: $color-white;
    transform: translateX(-50%);
    animation: showUp2 .4s ease;
    color: $color-primary-dark;
    border-radius: .3rem;
    overflow: hidden;
    
    &__header {
        background-color: $color-white-dark;
        padding: 2rem 1rem;
        display: flex;
    }

    &__title {
        font-size: 2rem;
        line-height: 1.5;
        text-transform: uppercase;
        font-weight: 700;
        font-style: italic;
        margin-left: 1.6rem;
        color: $color-primary;
    }

    &__icon {
        height: 3rem;
        width: 3rem;
        fill: $color-primary;
    }

    &__body {
        padding: 3rem 1.2rem;
        line-height: 1.2;
    }

    &__controls {
        padding: 2rem 1rem;
        background-color: $color-white-dark;

        display: flex;
        justify-content: center;
    }

    &__btn {
        margin: 0 2rem;
    }
}