@import "../../scss/variables";

.welcome {
    min-height: calc(100vh - 17.7rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $color-white-dark;

    padding: 1.5rem 1rem;
}
