@import "../../scss/mixins";

.logo {
    width: 100%;
    height: auto;
    display: block;
}

.logo-container {
    height: 10rem;
    width: 10rem;

    &--big {
        height: 20rem;
        width: 20rem;
    }
}