@import '../../../scss/variables';

.button {

    padding: 1rem 2.5rem;
    color: $color-white;
    background-color: $color-primary;

    border: none;
    border-radius: .3rem;
    box-shadow: $box-shadow-secondary;
    transition: all .25s;
    cursor: pointer;
    font-family: inherit;

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: $box-shadow-primary;

        color: $color-black;
        background-color: $color-secondary;
    }

    &--hover-white {

        &:hover {
            color: $color-primary;
            background-color: $color-white;
        }
    }

    &:disabled {
        transform: translateY(0);
        background-color: $color-primary-light; 
        box-shadow: none;
        cursor: not-allowed;
        color: $color-white;
    }
    

}