.button {
  padding: 1rem 2.5rem;
  color: #ffffff;
  background-color: #424242;
  border: none;
  border-radius: .3rem;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: all .25s;
  cursor: pointer;
  font-family: inherit; }
  .button:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    color: #000000;
    background-color: #42a5f5; }
  .button--hover-white:hover {
    color: #424242;
    background-color: #ffffff; }
  .button:disabled {
    transform: translateY(0);
    background-color: #6d6d6d;
    box-shadow: none;
    cursor: not-allowed;
    color: #ffffff; }
