@import "../../../scss/variables";
@import "../../../scss/mixins";


.navigation {


    &__item {
        margin: 0 1rem;

        @include respond(40.625em) {
            margin: 1rem;
        }
       
    }


    &__link {
        &:link,
        &:visited {
            display: inline-block;
            color: $color-white;
            font-weight: 300;
            text-transform: uppercase;
            text-decoration: none;

            transition: all .25s;
        }

        &:hover,
        &:active {
            color: $color-secondary;
            transform: translateY(-.3rem);
        }


        &.active{
            color: $color-secondary-light;
        }
    }


}


