.navigation__item {
  margin: 0 1rem; }
  @media only screen and (max-width: 40.625em) {
    .navigation__item {
      margin: 1rem; } }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .25s; }

.navigation__link:hover, .navigation__link:active {
  color: #42a5f5;
  transform: translateY(-0.3rem); }

.navigation__link.active {
  color: #80d6ff; }
