@import '../../../scss/variables';
@import "../../../scss/mixins";


.hamburger {

    width: 4rem;
    height: 4rem;

    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;


    @include respond(40.625em) {
        display: flex;
    }
   
    // &:hover &__icon::before {
    //     top: -1rem;
    // }

    // &:hover &__icon::after {
    //     top: 1rem;
    // }
    
    &__icon {
        height: 4rem;
        position: relative;
    
    
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-white;
            display: inline-block;
        }
    
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }
    
        &::before { top: -.8rem; }
        &::after { top: .8rem; }
    
        &.open {
    
            & {
                background-color: transparent;
            }
            &::before {
                top: 0;
                transform: rotate(135deg);
            }
            &::after {
                top: 0;
                transform: rotate(-135deg);
            }
        }
    }
} 