.hamburger {
  width: 4rem;
  height: 4rem;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  @media only screen and (max-width: 40.625em) {
    .hamburger {
      display: flex; } }
  .hamburger__icon {
    height: 4rem;
    position: relative; }
    .hamburger__icon, .hamburger__icon::before, .hamburger__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #ffffff;
      display: inline-block; }
    .hamburger__icon::before, .hamburger__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .hamburger__icon::before {
      top: -.8rem; }
    .hamburger__icon::after {
      top: .8rem; }
    .hamburger__icon.open {
      background-color: transparent; }
    .hamburger__icon.open::before {
      top: 0;
      transform: rotate(135deg); }
    .hamburger__icon.open::after {
      top: 0;
      transform: rotate(-135deg); }
