@import "../../scss/variables";
@import "../../scss/mixins";

.header {

    &__content {
        display: flex;
        background-color: $color-primary-dark;
        padding: 2rem 1.5rem;
        min-height: 10rem;
        box-shadow: $box-shadow-primary;
        position: relative;

        & .header__nav {
            align-items: flex-end;

            @include respond(40.625em) {
                
                display: none;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: auto;
                justify-content: center;
                align-items: center;
                z-index: 120;

            }



            &.open{
                display: flex;
            }
        }

        & .header__nav-list {      
            @include respond(40.625em) {
                flex-direction: column;
                height: 100%;
                justify-content: center;
                align-items: center;
            }         
        }

        & .header__backdrop {
            display: none;

            @include respond(40.625em) {
                display: block;
            }

        }

    }


    &__user-name {
        font-weight: 300;
        line-height: 1.2;
        color: $color-white;
        font-size: 1.6rem;
        align-self: flex-end;
        margin-left: 1.5rem;
    }


    &__hamburger {
        align-self: flex-end;
    }
}


