.header__content {
  display: flex;
  background-color: #1b1b1b;
  padding: 2rem 1.5rem;
  min-height: 10rem;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  position: relative; }
  .header__content .header__nav {
    align-items: flex-end; }
    @media only screen and (max-width: 40.625em) {
      .header__content .header__nav {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        justify-content: center;
        align-items: center;
        z-index: 120; } }
    .header__content .header__nav.open {
      display: flex; }
  @media only screen and (max-width: 40.625em) {
    .header__content .header__nav-list {
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center; } }
  .header__content .header__backdrop {
    display: none; }
    @media only screen and (max-width: 40.625em) {
      .header__content .header__backdrop {
        display: block; } }

.header__user-name {
  font-weight: 300;
  line-height: 1.2;
  color: #ffffff;
  font-size: 1.6rem;
  align-self: flex-end;
  margin-left: 1.5rem; }

.header__hamburger {
  align-self: flex-end; }
