@import "../../../scss/variables";

.input {

    padding: .5rem 1.2rem;

    
    &__element {

        display: block;
        border: none;
        border-bottom: 1px solid $color-primary-light;
        width: 100%;
        padding: .8rem .2rem;
        transition: all .5s ease;
        background-color: inherit;
        font-family: inherit;

        &:focus {
            outline: none;
            border-bottom: 1px solid $color-secondary;
        }  

        &.invalid {
            border-bottom: 1px solid red;
        }
    }


    &__label {
        display: block;
        font-size: small;
        position: relative;
        color: $color-secondary;
        padding: .8rem .2rem;
        transition: all .35s;

        &.invalid {
            color: red;
        }
    }

    &__element:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-3.3rem);
        color: $color-primary-light;
    }
}
