.input {
  padding: .5rem 1.2rem; }
  .input__element {
    display: block;
    border: none;
    border-bottom: 1px solid #6d6d6d;
    width: 100%;
    padding: .8rem .2rem;
    transition: all .5s ease;
    background-color: inherit;
    font-family: inherit; }
    .input__element:focus {
      outline: none;
      border-bottom: 1px solid #42a5f5; }
    .input__element.invalid {
      border-bottom: 1px solid red; }
  .input__label {
    display: block;
    font-size: small;
    position: relative;
    color: #42a5f5;
    padding: .8rem .2rem;
    transition: all .35s; }
    .input__label.invalid {
      color: red; }
  .input__element:placeholder-shown + .input__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3.3rem);
    color: #6d6d6d; }
