.controls {
    display: flex;
    justify-content: center;
}

.control {
    height: 3.5rem;
    width: 3.5rem;
    fill: currentColor;
    margin: 1rem;
    transition: all .25s ease;
    cursor: pointer;

    &:hover {
        transform: translateY(-.2rem);
    }

    &--up {
        &:hover {
            fill: lightgreen;
        }
    }

    &--down {
        &:hover {
            fill: darkgoldenrod;
        }
    }

    &--bin {
        &:hover {
            fill: red;
        }
    }

}