.controls {
  display: flex;
  justify-content: center; }

.control {
  height: 3.5rem;
  width: 3.5rem;
  fill: currentColor;
  margin: 1rem;
  transition: all .25s ease;
  cursor: pointer; }
  .control:hover {
    transform: translateY(-0.2rem); }
  .control--up:hover {
    fill: lightgreen; }
  .control--down:hover {
    fill: darkgoldenrod; }
  .control--bin:hover {
    fill: red; }
