.image {
  animation: showUp3 .4s ease-out; }
  .image__loader div {
    background: #ffffff !important; }
    .image__loader div:before, .image__loader div:after {
      background: #ffffff !important; }
  .image__loader-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
