@import "../../../scss/variables";

.image {

    animation: showUp3 .4s ease-out;

    &__loader {

        div {
            background: $color-white !important;
            &:before,
            &:after {
                background: $color-white !important;
            }

        }
    }

    &__loader-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center
    }
}