.footer__content {
  display: flex;
  background-color: #1b1b1b;
  padding: 2rem 1.5rem;
  min-height: 10rem;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  justify-content: center;
  position: relative; }

.footer__nav {
  align-items: center; }
  @media only screen and (max-width: 40.625em) {
    .footer__nav {
      display: none; } }

.footer__link {
  margin-left: 1.5rem; }
  @media only screen and (max-width: 40.625em) {
    .footer__link {
      margin-left: 0; } }
