@import '../../scss/variables';
@import "../../scss/mixins";

.footer {

    &__content {
        display: flex;
        background-color: $color-primary-dark;
        padding: 2rem 1.5rem;
        min-height: 10rem;
        box-shadow: $box-shadow-primary;
        justify-content: center;
        position: relative;

    }

    &__nav {
        align-items: center;


        @include respond(40.625em) {
            display: none;
        }
    }

    &__link {
        margin-left: 1.5rem;
     
        @include respond(40.625em) {
            margin-left: 0;
        }
    }
}