@import "../../scss/variables";

.sign-up {
    min-height: calc(100vh - 17.7rem);
    color: $color-white-dark;  
    padding: 2.5rem 1rem;


    &__content {
        max-width: 40rem;
        margin: 0 auto;
    }

    &__loader {
        margin: 15rem 0;
    }
}
