.sign-up {
  min-height: calc(100vh - 17.7rem);
  color: #f5f5f5;
  padding: 2.5rem 1rem; }
  .sign-up__content {
    max-width: 40rem;
    margin: 0 auto; }
  .sign-up__loader {
    margin: 15rem 0; }
