.not-found {
  height: calc(100% - 6rem);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #424242;
  margin: 3rem 1rem; }
  .not-found__icon {
    height: 5rem;
    width: 5rem;
    fill: currentColor;
    margin-right: 1rem; }
  .not-found__text {
    color: currentColor;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 300; }
