*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400; }

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

.heading-primary {
  font-weight: 700;
  font-style: italic;
  color: #000000;
  text-align: center; }
  .heading-primary--main {
    display: block;
    font-size: 3.6rem;
    line-height: 1.6; }
    @media only screen and (max-width: 31.25em) {
      .heading-primary--main {
        font-size: 2.8rem;
        letter-spacing: .2rem; } }
    @media only screen and (max-width: 25em) {
      .heading-primary--main {
        font-size: 2.2rem;
        letter-spacing: .1rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: .27rem; }
    @media only screen and (max-width: 31.25em) {
      .heading-primary--sub {
        letter-spacing: .13rem; } }
    @media only screen and (max-width: 25em) {
      .heading-primary--sub {
        font-size: 1.7rem;
        letter-spacing: .1rem; } }

.heading-secondary {
  font-weight: 300;
  color: #000000;
  letter-spacing: .3rem;
  line-height: 1.4;
  font-size: 2.6rem; }

.heading-tertiary {
  font-weight: 300;
  color: #000000;
  letter-spacing: .1rem;
  line-height: 1.2;
  font-size: 2rem; }
  .heading-tertiary--white {
    color: #ffffff; }

.paragraph {
  font-weight: 300;
  color: #000000;
  letter-spacing: .1rem;
  line-height: 1.2;
  font-size: 1.6rem; }
  .paragraph--white {
    color: #ffffff; }

.info-block {
  color: #42a5f5;
  margin: 1rem;
  font-size: smaller;
  font-weight: 300; }

.u-margin-bottom-medium {
  margin-bottom: 2.5rem !important; }

.u-margin-bottom-low {
  margin-bottom: 1.5rem !important; }

.u-margin-left-low {
  margin-left: 1.5rem !important; }

.fill-remaning-space {
  flex: 1 1 auto !important; }

.form {
  border-radius: .3rem;
  background-color: #f5f5f5;
  padding: 3rem 0 1rem; }
  .form__btn {
    display: block;
    margin: 2rem auto 2rem; }

@keyframes showUp {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

@keyframes showUp2 {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-1000%); }
  70% {
    transform: translateX(-50%) translateY(0); }
  90% {
    transform: translateX(-50%) translateY(-50%); }
  95% {
    transform: translateX(-50%) translateY(0); }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0); } }

@keyframes showUp3 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes showUpNewGalleryItem {
  0% {
    opacity: 0;
    transform: scale(0.7) translateX(-100%); }
  80% {
    opacity: 1;
    transform: scale(1) translateX(5%); }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0); } }

@keyframes showUpGalleryButton {
  from {
    opacity: 0;
    transform: scale(0) translateY(-200%); }
  to {
    opacity: 1;
    transform: scale(1) translateY(0); } }

@keyframes showUpGalleryContent {
  from {
    opacity: 0;
    transform: scale(0.5) translateY(50%); }
  to {
    opacity: 1;
    transform: scale(1) translateY(0); } }

@keyframes onDeleteItem {
  0% {
    opacity: 1; }
  10% {
    transform: translateY(20%) scale(1.5); }
  100% {
    opacity: 0;
    transform: translateY(-50%) scale(0.85); } }
