@import "scss/variables";
@import "scss/mixins";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

//typography

.heading-primary {
  font-weight: 700;
  font-style: italic;
  color: $color-black;
  text-align: center;
  
  &--main {
    display: block;
    font-size: 3.6rem;
    line-height: 1.6;

    @include respond(31.25em) {
      font-size: 2.8rem;
      letter-spacing: .2rem;
    }
    @include respond(25em) {
      font-size: 2.2rem;
      letter-spacing: .1rem;
    }

  }


  &--sub {
    display: block;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: .27rem;

    @include respond(31.25em) {
      letter-spacing: .13rem;
    }
    @include respond(25em) {
      font-size: 1.7rem;
      letter-spacing: .1rem;
    }
    
  }
}

.heading-secondary {
  font-weight: 300;
  color: $color-black;
  letter-spacing: .3rem;
  line-height: 1.4;
  font-size: 2.6rem;
}

.heading-tertiary {
  font-weight: 300;
  color: $color-black;
  letter-spacing: .1rem;
  line-height: 1.2;
  font-size: 2rem;

  &--white {
    color: $color-white
  }
}

.paragraph {
  font-weight: 300;
  color: $color-black;
  letter-spacing: .1rem;
  line-height: 1.2;
  font-size: 1.6rem;

  &--white {
    color: $color-white;
  }
}

.info-block {
  color: $color-secondary;
  margin: 1rem;
  font-size: smaller;
  font-weight: 300;
}

//utility

.u-margin-bottom-medium { margin-bottom: 2.5rem !important; }
.u-margin-bottom-low { margin-bottom: 1.5rem !important; }

.u-margin-left-low { margin-left: 1.5rem !important; }

.fill-remaning-space { flex: 1 1 auto !important; }

//form 

.form {
  border-radius: .3rem;
  background-color: $color-white-dark;
  padding: 3rem 0 1rem;
  

  &__btn {
    display: block;
    margin: 2rem auto 2rem;
  }
}

//animations

@keyframes showUp{
  from {
      transform: scale(0);
  }
  to {
      transform: scale(1);
  }
}

@keyframes showUp2 {
  0%{
      opacity: 0;
      transform: translateX(-50%) translateY(-1000%);
  }
  70%{
      transform: translateX(-50%) translateY(0);
  }
  90%{
      transform: translateX(-50%) translateY(-50%);
  }
  95%{
      transform: translateX(-50%) translateY(0);
  }
  100%{
      opacity: 1;
      transform: translateX(-50%) translateY(0);
  }
}

@keyframes showUp3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showUpNewGalleryItem{
  0% {
    opacity: 0;
    transform: scale(0.7) translateX(-100%);
  }
  80% {
    opacity: 1;
    transform: scale(1) translateX(5%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

@keyframes showUpGalleryButton {
  from {
      opacity: 0;
      transform: scale(0) translateY(-200%);
  }
  to {
      opacity: 1;
      transform: scale(1) translateY(0);
  }
}

@keyframes showUpGalleryContent {
  from {
      opacity: 0;
      transform: scale(.5) translateY(50%);
  }
  to {
      opacity: 1;
      transform: scale(1) translateY(0);
  }
}

@keyframes onDeleteItem {
  0% {
    opacity: 1;
  }
  10% {
    transform: translateY(20%) scale(1.5);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%) scale(.85);
  }
}


