//colors

$color-black: #000000;
$color-white: #ffffff;

$color-white-dark: #f5f5f5;

$color-primary: #424242;
$color-primary-light: #6d6d6d;
$color-primary-dark: #1b1b1b;

$color-secondary: #42a5f5;
$color-secondary-light: #80d6ff;
$color-secondary-dark:#0077c2;

$box-shadow-primary: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
$box-shadow-secondary: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
