.gallery {
  min-height: calc(100vh - 17.7rem);
  color: #f5f5f5;
  padding: 1.5rem 1rem; }
  .gallery__controls {
    margin: 0 1.5rem; }
  .gallery__btn {
    border-radius: 50%;
    padding: 0;
    background-color: #42a5f5;
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    line-height: 1;
    display: block;
    margin: 1rem auto;
    color: #000000;
    animation: showUpGalleryButton .35s ease; }
    .gallery__btn:focus {
      outline: none;
      color: #ffffff; }
  .gallery__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    animation: showUpGalleryContent .35s ease; }
  .gallery__loader {
    margin: 20rem 0 0; }
  .gallery__not-found {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1.5rem auto; }
