@import "../../scss/variables";

.gallery {

    min-height: calc(100vh - 17.7rem);
    color: $color-white-dark;
    padding: 1.5rem 1rem;

    &__controls {
        margin: 0 1.5rem;
    }

    &__btn {
        border-radius: 50%;
        padding: 0;
        background-color: $color-secondary;
        height: 5rem;
        width: 5rem;

        font-size: 3rem;
        line-height: 1;
        display: block;
        margin: 1rem auto;

        color: $color-black;
        animation: showUpGalleryButton .35s ease;

        &:focus{
            outline: none;
            color: $color-white;
        }
    }

    &__content {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: flex-start;        
        animation: showUpGalleryContent .35s ease;
    } 

    &__loader {
        margin: 20rem 0 0;
    }

    &__not-found {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 1.5rem auto;
    }
    
}

