.snackbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  padding: 2rem 5rem;
  background-color: #42a5f5;
  opacity: .95;
  animation: showUp2 .55s ease;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 53.125em) {
    .snackbar {
      width: 100%;
      max-width: 100%;
      padding: 2rem; } }
  .snackbar__content {
    font-weight: 400;
    font-size: 1.65rem;
    letter-spacing: .1rem;
    text-align: center;
    text-transform: uppercase;
    color: #1b1b1b; }
  .snackbar__icon {
    margin-right: 1.5rem;
    height: 3rem;
    width: 3rem;
    fill: currentColor; }
