@import "../../../scss/variables";
@import "../../../scss/mixins";

.snackbar {

    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    padding: 2rem 5rem;
    background-color: $color-secondary;
    opacity: .95;
    
    animation: showUp2 .55s ease;

    display: flex;
    align-items: center;
    justify-content: center;


    @include respond(53.125em) {
        width: 100%;
        max-width: 100%;
        padding: 2rem;
    }

    &__content {
        font-weight: 400;
        font-size: 1.65rem;
        letter-spacing: .1rem;
        text-align: center;
        text-transform: uppercase;
        color: $color-primary-dark;
    }

    &__icon {
        margin-right: 1.5rem;

        height: 3rem;
        width: 3rem;
        fill: currentColor;
    }
}
